body{
    margin: 0%;
    font-family: sans-serif;
    background-image: url(./images/welcome-hero/welcome-banner.jpg);
    background-repeat: no-repeat;
}

.navparent{
    display: flex;
    width: 100%;
    margin-top: 20px;
    /* border: 2px solid; */
    
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 1;
    
}
.navchild1{
    display: flex;
    font-size: x-large;
    width: 300px;
    justify-content: space-around;
    padding-left: 40px;
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.navchild2{
    display: flex;
    
    width: 700px;
    justify-content: space-around;
    align-items: center;
    padding-right: 200px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    letter-spacing: 1.5px;

    /* border: 2px solid; */
}
.a{
    text-decoration: none;
    
    color: white;
    transition-property: all;
    transition-duration: 0.7s;
}
.a:hover{
    color: blue;
}
.text{
    height: 70vh;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.lrge{
    text-transform: uppercase;
    font-size: xxx-large;
    color:aliceblue;
    word-spacing: 3px;
}
.center{
    text-align: center;
    color:aliceblue;
    font-size: large;
    line-height: 15px;
    word-spacing: 3px;
    text-decoration: solid;
}
.button{
    display: flex;
    justify-content: center;
}
.button1{
    background-color: rgb(46, 76, 225);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:70px ;
    padding-left: 70px;
    border-radius: 5px;
    text-decoration: none;
    color: azure;
    letter-spacing: 2px;
    margin-top: 40px;
    transition-duration: 0.7s;
}
.button1:hover{
    background-color: rgb(9, 42, 205);
}
#white{
    color: azure;
    text-decoration:none ;
    letter-spacing: 3px;
    font-size: large;
}
.grid{
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 13%;
    background-color: white;
    width: 75%;
    height: 300px;
    /* border: 2px solid; */
    display: grid;
    grid-template-areas:'c1 c2 c6 c5'
                        'c3 c4 c7 c5' ;
    place-items: center;
    /* box-shadow: 5px 10px  gray; */
    filter: drop-shadow(0.25rem 0.5rem 0.5rem gray);
}
.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.c3{
    grid-area: c3;
}
.c4{
    grid-area: c4;
}

.c5{
    border: 0px;
    grid-area: c5;
}
.c6{
    grid-area: c6;
}
.c7{
    grid-area: c7;
}
.s1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
    border: 0px ;
    background-color: rgb(230, 230, 230);
    font-size: medium;
}
.threedivParent{
    display: grid;
    grid-template-areas: 'a1 a2 a3' ;
    justify-content: center;
    gap: 30px;
    margin: 10%;
}
.threec1{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 380px;
    padding: 10px;
    grid-area: a1;
    border: 0.1px solid gray;
    border-radius: 3px;
}
.threec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 380px;
    padding: 10px;
    border: 0.1px solid gray;
    border-radius: 3px;
    grid-area: a2;
}
.threec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 380px;
    padding: 10px;
    border: 0.1px solid gray;
    border-radius: 3px;
    grid-area: a3;
}
.fas fa-car{
    font-size: large

}
.h{
    text-align: center;
    font-size: x-large;
    color: rgb(83, 83, 83);
}
.p{
    text-align: center;
   
    font-size: large;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: gray;
    
}
.bar{
    text-align: center;
    font-size: x-large;
    color: blue;
}
.threec1:hover{
    background-color: rgb(42, 88, 206);

    .h{
        color: white;
    }
    .p{
        color: white;
    }
    .bar{
        color: white;
    }
}
.threec2:hover{
    background-color: rgb(42, 88, 206);

    .h{
        color: white;
    }
    .p{
        color: white;
    }
    .bar{
        color: white;
    }
}
.threec3:hover{
    background-color: rgb(42, 88, 206);

    .h{
        color: white;
    }
    .p{
        color: white;
    }
    .bar{
        color: white;
    }
}


