*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0%;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-image: url(./images/welcome-hero/welcome-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navparent{
    display: flex;
    width: 100%;
    margin-top: 20px;
    /* border: 2px solid; */
    background-color: black;
    padding: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 1;
    
}
.navchild1{
    display: flex;
    font-size: x-large;
    width: 300px;
    justify-content: space-around;
    padding-left: 40px;
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.navchild2{
    display: flex;
    margin-right: 10%;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 200px; */
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    letter-spacing: 1.5px;

    /* border: 2px solid; */
}
.a>h3{
    font-size: medium;
}
.a{
    text-decoration: none;
    
    color: white;
    transition-property: all;
    transition-duration: 0.7s;
}
.a:hover{
    color: blue;
}
.text{
    margin: auto;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: -150px;

}
.lrge{
    /* width: 50vw; */
    text-align: center;
    font-family:sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    color:aliceblue;
    /* word-spacing: 3px; */
    margin-bottom: 50px;
}
.center1{
    text-align: center;
    color:aliceblue;
    font-size: large;
    word-spacing: 3px;
    text-decoration: solid;
    margin-bottom: -50px;
}

.button{

    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.button1{
    background-color: rgb(46, 76, 225);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:70px ;
    padding-left: 70px;
    border-radius: 5px;
    text-decoration: none;
    color: azure;
    letter-spacing: 2px;
    margin-top: 40px;
    transition-duration: 0.7s;
}
/*
.button1:hover{
    background-color: rgb(9, 42, 205);
} */
#white{
    color: azure;
    text-decoration:none ;
    letter-spacing: 3px;
    font-size: large;
}
.grid{
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: 13%;
    background-color: white;
    width: 75%;
    height: 300px;
    /* border: 2px solid; */
    display: grid;
    grid-template-areas:'c1 c2 c6 c5'
                        'c3 c4 c7 c5' ;
    place-items: center;
    /* box-shadow: 5px 10px  gray; */
    filter: drop-shadow(0.25rem 0.5rem 0.5rem gray);
}
.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.c3{
    grid-area: c3;
}
.c4{
    grid-area: c4;
}

.c5{
    border: 0px;
    grid-area: c5;
}
.c6{
    grid-area: c6;
}
.c7{
    grid-area: c7;
}
.s1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
    border: 0px ;
    background-color: rgb(230, 230, 230);
    font-size: medium;
}
.threedivParent{
    display: grid;
    grid-template-areas: 'a1 a2 a3' ;
    justify-content: center;
    gap: 30px;
    margin: 10%;
}
.threec1{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 380px;
    padding: 10px;
    grid-area: a1;
    border: 0.1px solid gray;
    border-radius: 3px;
}
.threec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 380px;
    padding: 10px;
    border: 0.1px solid gray;
    border-radius: 3px;
    grid-area: a2;
}
.threec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 380px;
    padding: 10px;
    border: 0.1px solid gray;
    border-radius: 3px;
    grid-area: a3;
}
ion-icon{
    font-size: 100px;
    align-self: center;

}
.h{
    text-align: center;
    font-size: x-large;
    color: rgb(83, 83, 83);
}
.p{
    text-align: center;
   
    font-size: large;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: gray;
    
}
.bar{
    text-align: center;
    font-size: x-large;
    color: blue;
}
.threec1:hover{
    background-color: rgb(42, 88, 206);
    ion-icon{
        color: white;
    }
    .h{
        color: white;
    }
    .p{
        color: white;
    }
    .bar{
        color: white;
    }
}
.threec2:hover{
    background-color: rgb(42, 88, 206);
    ion-icon{
        color: white;
    }
    .h{
        color: white;
    }
    .p{
        color: white;
    }
    .bar{
        color: white;
    }
}
.threec3:hover{
    background-color: rgb(42, 88, 206);
    ion-icon{
        color: white;
    }
    .h{
        color: white;
    }
    .p{
        color: white;
    }
    .bar{
        color: white;
    }
}
.animation{
    width: 100%;
    height: auto;
    /* display: flex; */
    background-color: rgb(249, 249, 249);
    /* display: grid; */
    /* border: 2px solid; */
   

    
}
.textt{
    margin: 7%;
    padding-top: 5%;
    text-align: center;
    
    .check{
        letter-spacing: 3px;
    }
    .newest{
        letter-spacing: 3px;
    }
    .line{
        color: rgb(42, 88, 206);
    }

}

.ani1{
    width: 90%;
    height: 500px;
    gap: 10px;
    /* border: 2px solid; */
    margin: auto;
    display: flex;
    align-items: center;
    
    .car{
        width: 60%;
        .aniimg{
            width: 90%;
            padding: 20px;
            
        }
    }
    .matter{
        padding: 1rem;
        width: 30%;
        .carname{
            text-align: center;
            color: rgb(77, 77, 77);
        }
        .lorem{
            font-size: large;
            word-spacing: 3px;
            line-height: 25px;
            color: grey;
        }
        .lorem1{
            padding-top: 10px;
            font-size: large;
            word-spacing: 3px;
            line-height: 25px;
            color: grey;
        }
        .but{
            background-color: dodgerblue;
            border: 0px solid;
            padding-top: 20px;
            border-radius: 5px;
                padding-bottom: 20px;
                padding-left: 40px;
                padding-right: 40px;
            
            .viewD{
                font-size: large;
                color: white;
                text-decoration: none;
                
            }
        }
        .but:hover{
            background-color: blue;
            transition-duration: 2s;
        }
    }
   
    
}
.ani2{
    width: 90%;
    height: 500px;
    gap: 10px;
    /* border: 2px solid; */
    margin: auto;
    display: flex;
    align-items: center;
    
    .car1{
        width: 60%;
        .aniimg{
            width: 90%;
            padding: 20px;
            
        }
    }
    .matter1{
        padding: 1rem;
        width: 30%;
        .carname{
            text-align: center;
            color: rgb(77, 77, 77);
        }
        .lorem{
            font-size: large;
            word-spacing: 3px;
            line-height: 25px;
            color: grey;
        }
        .lorem1{
            padding-top: 10px;
            font-size: large;
            word-spacing: 3px;
            line-height: 25px;
            color: grey;
        }
        .but{
            background-color: dodgerblue;
            border: 0px solid;
            padding-top: 20px;
            border-radius: 5px;
                padding-bottom: 20px;
                padding-left: 40px;
                padding-right: 40px;
            
            .viewD{
                font-size: large;
                color: white;
                text-decoration: none;
                
            }
        }
        .but:hover{
            background-color: blue;
            transition-duration: 2s;
        }
    }
    
}
.ani3{
    width: 90%;
    height: 500px;
    gap: 10px;
    /* border: 2px solid; */
    margin: auto;
    display: flex;
    align-items: center;
  
    
    .car2{
        width: 60%;
        .aniimg{
            width: 90%;
            padding: 20px;
            
        }
    }
    .matter2{
        padding: 1rem;
        width: 30%;
        .carname{
            text-align: center;
            color: rgb(77, 77, 77);
        }
        .lorem{
            font-size: large;
            word-spacing: 3px;
            line-height: 25px;
            color: grey;
        }
        .lorem1{
            padding-top: 10px;
            font-size: large;
            word-spacing: 3px;
            line-height: 25px;
            color: grey;
        }
        .but{
            background-color: dodgerblue;
            border: 0px solid;
            padding-top: 20px;
            border-radius: 5px;
                padding-bottom: 20px;
                padding-left: 40px;
                padding-right: 40px;
            
            .viewD{
                font-size: large;
                color: white;
                text-decoration: none;
                
            }
        }
        .but:hover{
            background-color: blue;
            transition-duration: 2s;
        }
    }
    
}
.center{
    margin: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .cc1{
        color: black;
    }
    .cc2{
        line-height: 8px;
        color: rgb(53, 52, 52);
        letter-spacing: 2px;
    }
    .line1{
        color:dodgerblue;
    }
}

.feature{
    width: 100vw;
    margin:0;
    display: flex;
    margin-bottom: 3%;
    flex-wrap: wrap;
}
    .nc{
        width: 20%;
        height: 25%;
        margin: auto;
        padding: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .nc .featuretext{
        padding: 30px 30px 0;
        border: 0.5px solid gray;
    }
    .nc div{
        width: 100%;
        height: 30%;
        padding: 30px 30px 0;
        border: 0.5px solid gray;

    }


        .fcar{
            width: 180px;
            padding: 5px;
            padding-bottom: 50px;
            
            
        }
        .featuretext{
            letter-spacing: 1px;
            word-spacing: 5px;
            padding-top: 10px;
            font-size: small;
            color: gray;
            padding-left: 5px;
            line-height: 20px;
        }
    }
    .nc1{
        /* border: 2px solid; */
        width: 20%;
        height: 20%;
        margin: auto;
    }

        .gray{
            color: dimgrey;
            font-size: medium;

        }
        .price{
            font-size: medium;
            color: dimgrey;
        }
        .lightgray{
            color: lightslategray;
            font-size: small;
            word-spacing: 2px;
            line-height: 20px;
        }
    
    

.clientp{
    height: 100vh;
    margin-top: 10%;
    margin-bottom: 10%;
    /* border: 2px solid; */
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .clienttext{
        /* border: 2px solid; */
        .clitxt{
            font-size: 40px;
            font-weight: 550;
            color: rgb(73, 73, 73);
        }
        .cliline{
            text-align: center;
            color: rgb(49, 82, 212);
        }
    }
    .clientthree{
        /* border: 0.5px solid gray; */
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        /* gap: 15px; */
        .cli1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 28%;
            height: 100%;
            padding: 15px;
            border: 0.5px solid darkgray;
            
        }
        .cli2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 28%;
            height: 100%;
            padding: 15px;
            border: 0.5px solid darkgray;
        }
        .cli3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 28%;
            height: 100%;
            padding: 15px;
            border: 0.5px solid darkgray;
        }
    }
}
.para{
     text-align: center;   
     word-spacing: 8px;
     line-height: 25px;  
     color: gray;  
     font-size: 18px;    
}
.clientname{
    color: rgb(98, 98, 98);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px;
}

.brands{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 7%;
}
.footer{
    height: 70vh;
    background-color:rgb(48, 48, 114);
}

/* *{
    font-size: 10px;
} */

